header {
    background-color: #007d79;
}

#header_content > .row > .col-md, .col-md-auto{
    align-content: center;
}

#header_content > .row > #app_name{
    font: Veranda, sans-serif;
    font-size: 2.3rem;
    font-style: italic;
    color: #FFFFFF;
}

#header_content > .row > #tagline{
    font-size: 1rem;
    color: #f0f7f6;
}